.app-container {
    padding: 2em;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.locations-container {
    padding: 2em;
}

.weather-container {
    padding: 2em;
}
